body {
  padding: 0;
  margin: 0;
  background: white;
  background-size: cover;
  background-repeat: no-repeat;
}
input {
  position: fixed;
  background: transparent;
  color: red;
  border: 0;
  border-bottom: 3px dotted black;
  font-size: 1.2em;
  padding: 8px;
}
img {
  max-width: 640px;
  max-height: 640px;
  width: 100vw;
  height: 100vh;
}
button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 48px;
  width: 48px;
  background-color: green;
  border-radius: 50%;
}
button.on {
  background-color: red;
}
